.layout-without-topbar
    .part-content
        padding-top: 30px
        width 100%
        max-width 390px
        min-width 300px
        margin 0 auto
        .link-create-user, .link-create-olt
            display: block
            text-align: center
        .part-content-i, form
            .btn
                margin-bottom 5px