.layout-default
    .part-content
        .link-create-user, .link-create-olt
            display: block
            text-align: left
        .part-content-i, form
            .btn
                margin-bottom 5px
