.layout-login
    .content
        diplay flex
        align-items center
        justify-content center
        .content-i
            .main
                .main-i
                    width 100%
                    padding 25px
