<footer class="footer">
    <div class="footer-main">
        <div class="center">
            <div class="footer-main-i">
                <div class="footer-copyright">
                    <div class="center pull-right">
                        developed by <a class="diple-link" href="https://diple.net" target="_blank">diple.net</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
