<header class="header">
    <div class="topbar">
        <div class="topbar-i center">
        <p class="topbar-user"><i class="fa fa-user"></i> Usuário: <strong>{{ session["username"] }}</strong></p>
        {% if session["admin"] %}
        <a class="topbar-admin btn btn-default btn-s" href="/admin">Admin</a>
        {% endif %}
        <a class="topbar-logout btn btn-default" href="/logout">Logout</a>
        </div>
    </div>
    <div class="header-i center">
        <h1 class="logo">
            <a href="/"></a>
        </h1>
    </div>
</header>
