{% extends 'layout-default.html' %}
{% block page_class %}page-control{% endblock %}

{% block content %}
<section class="part">
    <div class="part-i">
        <div class="dropdown my-olts">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Minhas Olts<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% if olt_list.count() > 0 %}
                {% for olt in olt_list %}
                    <li><a href="">{{ olt.name }}</a></li>
                {% endfor %}
            {% else %}
                <li><a href="/olt-create">Vazio</a></li>
            {% endif %}
            </ul>
        </div>
        <a class="btn btn-default btn-s link-create-olt"><i class="fa fa-plus-square"></i> Adicionar Olt <a href="/olt-create"></a></a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>SN</th>
                    <th>F/S/P</th>
                    <th>VendorID</th>
                    <th>Description</th>
                    <th>VLAN</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="ssh-request">
            </tbody>
        </table>
        <hr />
        <div id="alert-list-onts" class="alert alert-warning">
            <strong>Aviso!</strong> Houve um erro na requisição. Atualize a página.
        </div>
        <div id="alert-authorize-error" class="alert alert-warning">
            <strong>Aviso!</strong> Houve um erro na requisição. Tente novamente.
        </div>
        <div id="alert-authorize-success" class="alert alert-success">
            <strong>Sucesso!</strong> Ont autorizada com sucesso!
        </div>
        <div id="main-loader" class="center">
            <i class="fa fa-gear fa-spin"></i>
            <p>Loading onts...</p>
        </div>
    </div>
</section>
{% endblock %}