{% extends 'layout-default.html' %}
{% block page_class %}page-404{% endblock %}

{% block content %}
<section class="part">
    <div class="part-i">
        <div class="part-content">
            <div class="part-content-i">
                <h3>Desculpe. A página não foi encontrada!</h3>
                <p>Possíveis causas:</p>
                <ul>
                    <li>O conteúdo não está mais no ar;</li>
                    <li>A página mudou de lugar;</li>
                    <li>Você digitou o endereço errado.</li>
                </ul>
                <a class="btn btn-default btn-lg btn-p" href="/">Clique aqui para voltar à página inicial</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
