{% extends 'layout-default.html' %}
{% block page_class %}page-user-create{% endblock %}

{% block content %}
{% from "_macro.html" import render_field %}
<section class="part">
    <a class="btn btn-default btn-p close" href="/adm"><i class="fa fa-times"></i></a>
    <div class="part-i">
        <div class="part-header">
            <h2>Novo usuário</h2> 
        </div>
        <hr />
        <div class="part-content">
        <form class="form clearfix" id="UserCreateForm" method="POST">
                <div class="form-inner">
                    <div class="form-group form-group-lg">
                        {{ render_field(form.username, class="form-control", placeholder="Usuário") }}
                    </div>
                    <div class="form-group form-group-lg">
                        {{ render_field(form.name, class="form-control", placeholder="Nome (completo)") }}
                    </div>
                    <div class="form-group form-group-lg">
                        {{ render_field(form.cpf, class="form-control", placeholder="Cpf (000.000.000-00)") }}
                    </div>
                    <div class="form-group form-group-lg">
                        {{ render_field(form.company, class="form-control", placeholder="Empresa") }}
                    </div>
                    <div class="form-group form-group-lg">
                        {{ render_field(form.cnpj, class="form-control", placeholder="Cnpj (00.000.000/0000-00)") }}
                    </div>
                    <div class="form-group form-group-lg">
                        {{ render_field(form.email, class="form-control", placeholder="E-mail") }}
                    </div>
                    <div class="form-group form-group-lg">
                        {{ render_field(form.password, class="form-control", placeholder="Senha (mínimo de 6 caracteres)") }}
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button id="contato-btn" type="submit" class="btn btn-lg btn-p pull-right">Cadastrar</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}