{% extends 'layout-without-topbar.html' %}
{% block page_class %}page-login{% endblock %}

{% block content %}
{% from "_macro.html" import render_field %}
<section class="part">
    <div class="part-i">
        <div class="part-header">
            <h2>Login</h2> 
        </div>
        <hr />
        <div class="part-content">
            <form class="form clearfix" name="loginForm" id="loginForm" method="POST">
                <div class="form-inner">
                    <div class="form-group form-group-lg">
                    {{ render_field(login_form.username, class="form-control", placeholder="Usuário") }}
                    </div>
                    <div class="form-group form-group-lg">
                    {{ render_field(login_form.password, class="form-control", placeholder="Senha") }}
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button id="contato-btn" type="submit" class="btn btn-lg btn-p pull-right"><i class='fa fa-sign-in'></i> Login</button>
            </form>
            <hr />
            <span class="link-create-user">Quer testar o aplicativo por 30 dias? <a href="/user-create">Cadastre-se</a>.</span>
        </div>
    </div>
</section>
{% endblock %}