{% extends 'layout-default.html' %}
{% block page_class %}page-control{% endblock %}

{% block content %}
<section class="part">
    <div class="part-i">
        <div class="part-header">
            <div class="dropdown my-olts">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Minhas OLTs <span class="badge">{{ olt_list.count() }}</span> <span class="caret"></span>
                </button>
                <ul id="get-olts" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% if olt_list.count() > 0 %}
                    {% for olt in olt_list %}
                    <li><a class="olt-item-list">{{ olt.name }}</a></li>
                    {% endfor %}
                    {% else %}
                    <li><a href="/olt-create">Vazio</a></li>
                    {% endif %}
                </ul>
            </div>
            <a href="/olt-create" class="btn btn-default btn-s link-create-olt">
                <i class="fa fa-plus-square"></i> Adicionar OLT
            </a>
            <span id="olt-selected" class="alert alert-info">Nenhuma OLT selecionada</span>
        </div>
        <div class="part-content">
            <hr />
            <div id="test-connection" class="clearfix">
                Teste de Conexão:
                <span class="test-connection-loader"><i class="fa fa-refresh fa-spin"></i></span>
                <span class="test-connection-success"><strong>Bem-sucedido</strong></span>
                <span class="test-connection-error"><strong>Falhou</strong></span>
                <button id="get-status-onts" type="submit" class="btn btn-defaul btn-p pull-right">Status ONT(s)</button>
            </div>
            <div id="ssh-return">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>SN</th>
                            <th>F/S/P</th>
                            <th>VendorID</th>
                            <th>Description</th>
                            <th>VLAN</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="ssh-request">
                    </tbody>
                </table>
            </div>
            <div id="main-loader" class="center">
                <i class="fa fa-spinner fa-spin"></i> Aguarde...
            </div>
        </div>
        <div class="part-footer">
            <div id="alert-list-onts" class="alert alert-warning">
                <strong>Aviso!</strong> Houve um erro na requisição. Atualize a página.
            </div>
            <div id="alert-authorize-error" class="alert alert-warning">
                <strong>Aviso!</strong> Houve um erro na requisição. Tente novamente.
            </div>
            <div id="alert-authorize-success" class="alert alert-success">
                <strong>Sucesso!</strong> Ont autorizada com sucesso!
            </div>
        </div>
    </div>
</section>
{% endblock %}