.page-admin
    .part-i
        .part-content
            background: cinza
            padding 25px
            lost-center 500px
            display flex
            justify-content space-around
            border-radius radius
        .part-footer
            background: white
            display flex
            align-items flex-end
            justify-content flex-end


        