.page-index
    .part-i
        #ssh-request
            display none
            padding 25px
            border-radius radius
        #main-loader
            display block
            width 145px
            height 50px
            text-align: center
            i.fa, p
                line-height: 50px
                display: inline-block
            i.fa
                float left
                font-size: 50px
                color colors
            p
                float: right
                margin 0
        