.part-content
    padding-top: 30px
    width 100%
    max-width 420px
    min-width 300px
    margin 0 auto
    .link-create-user, .link-create-olt
        display: block
        text-align: left
    .part-content-i, form
        .btn
            margin-bottom 5px