.page-user-create
    .part-i
        .part-content
            padding-top: 30px
            form
                width 100%
                max-width 420px
                min-width 300px
                margin 0 auto