.page-control
    .part-i
        .part-header
            display flex
            align-items center
            height 90px
            .my-olts
                margin-right: 5px
                .olt-item-list
                    cursor pointer
            #olt-selected
                width 250px
                text-align: center
                margin 0 0 0 auto
        .part-content
            #test-connection
                margin 30px 0
                padding-left: 10px
                padding-right: 10px
                width 100%
                height 50px
                border 1px solid #8c8c8c
                border-radius radius
                display none
                align-items center
                .test-connection-loader
                .test-connection-success
                .test-connection-error
                    margin-left: 4px
                    display none
                .test-connection-loader
                    i.fa
                        color colorp
                .test-connection-success
                    color #3c763d
                .test-connection-error
                    color #a94442
                #get-status-onts
                    display none
                    margin-left auto
            #ssh-return
                display none
                .table
                    margin-bottom 0
                    tr td, tr th
                        text-align: center
                        vertical-align: middle
                    tr td div
                        display block
                        margin 0 auto
                    tr td, tr td div input
                        padding 4px
                    td.desc-form
                        width 40%
                    td.vlan-form
                        width 20%
                    td.desc-form div, td.vlan-form div
                        margin 0 20px
                #main-loader
                    margin-top: 30px
                    width 145px
                    height 50px
                    text-align: center
                    i.fa, p
                        line-height: 50px
                        display: inline-block
                    i.fa
                        float left
                        font-size: 50px
                        color colors
                    #ssh-request
                        display none
                        padding 25px
                        border-radius radius
                        .table
                            tr td
                                .input-group
                                    input
                                        border-radius radius
                                a
                                    cursor pointer
                                    font-weight bold
                            tr.authorize-confirm td
                                background: cinza + 65%
                                text-align: left
                                padding 25px
                                p
                                    display: inline-block
                                    margin-right 13px
                                .btn
                                    margin-left 6px
        .part-footer
            .alert
                display none
        