.page-control-panel
    .part-i
        .table
            margin-bottom 0
            tr td, tr th
                text-align: center
                vertical-align: middle
            tr td div
                display block
                margin 0 auto
            tr td, tr td div input
                padding 4px
            td.desc-form
                width 40%
            td.vlan-form
                width 20%
            td.desc-form div, td.vlan-form div
                margin 0 20px
            #ssh-request
                display none
                padding 25px
                border-radius radius
                tr td
                    .input-group
                        input
                            border-radius radius
                    a
                        cursor pointer
                        font-weight bold
                tr.authorize-confirm td
                    background: cinza + 65%
                    text-align: left
                    padding 25px
                    .btn
                        margin-left 6px
        #alert-list-onts, #alert-authorize
            display none
        #main-loader
            display block
            width 145px
            height 50px
            text-align: center
            i.fa, p
                line-height: 50px
                display: inline-block
            i.fa
                float left
                font-size: 50px
                color colors
            p
                float: right
                margin 0
        