.page-user-create
    .part-i
        .part-content
            background: cinza
            padding 25px
            lost-center 500px
            border-radius radius
            .btn
                float right
        .part-footer
            background: white
            display flex
            align-items flex-end
            justify-content flex-end
        