//colors
colorp = #1a2f66
colors = #4c9ed9
colort = #0078d7
cinza = #EFEFEF
texts = #363636
texts2 = #d3d1e2
facebook = #4862a3
googleplus = #d51f1e
twitter = #55acee
whatsapp = #41c152

//border-radius
radius = 5px

//logo width size (max=215px)
logo-size = 215px

//nav
content-width = 1000px
break-nav = 800px
nav-height = 100px
nav-mobile-height = 70px
link-hover-color = #2581DC

//intro-page, intro-post e intro-product style
intro-style = false

break1 = 1000px
break2 = 750px
break3 = 500px
