.header
    width 100%
    background-color cinza
    .header-i
        position: relative
        height nav-height
        .logo
            margin 0
            a
                color texts2
                text-decoration none
                line-height: nav-height
